<h1>Eat Da Burger!</h1>

{{!-- Show burger list once added to list --}}
<h2 id="burger-list">Burger List!</h2>
<ul>
    {{#each burgers}}
        {{#unless devoured}}
            {{> burger/burger-button}}
        {{/unless}}
    {{/each}}
</ul>

{{!-- Show burger devoured once added to list --}}
<h2 id="devoured">Burger Devoured!</h2>
<ul>
    {{#each burgers}}
        {{#if devoured}}
            {{> burger/burger-devoured}}
        {{/if}}
    {{/each}}
</ul>


{{!-- Add Burger Input to List --}}
<h2>Add a Burger</h2>
<form>
    <div class="form-group">
        <label for="burgerInput">Add a Burger!</label>
        <textarea class="form-control" id="burgerInput" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>